/* .homepage-area{
    background-color: rgb(9, 136, 145);
    background-color: var(--main-color);
} */

.homepage-area .homepage-content-swiper-container{
    overflow: hidden !important;
    background-color: black;
    position: relative;
}


.homepage-area .homepage-content-swiper-container .swiper-slide{
    min-height: 560px;
}

.homepage-area .homepage-content-swiper-container .swiper-slide.slide1{
    background: linear-gradient(to top, var(--back-color)  0%, transparent 100%),url(../../images/slider/deadpool.jpg);
    background-size: cover;
}

.homepage-area .homepage-content-swiper-container .swiper-slide.slide2{
    background: linear-gradient(to top, var(--back-color) 0%, transparent 100%),url(../../images/slider/ironman.webp);
    background-size: cover;
}

.homepage-area .homepage-content-swiper-container .swiper-slide.slide3{
    background: linear-gradient(to top, var(--back-color) 0%, transparent 100%),url(../../images/slider/ca.jpg);
    background-size: cover;
}

.homepage-area .homepage-content-swiper-container .swiper-slide .slide-content{
    min-height: 560px;
    padding: 85px;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}

.homepage-area .homepage-content-swiper-container .swiper-slide .slide-content img{
    position: absolute;
    right: -62px;
    top: -10%;
    width: 560px;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie{
    color: rgb(190, 190, 190);
    height: 100%;
    /* background-color: rgb(8, 202, 8); */
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-category{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    /* color: rgb(190, 190, 190); */
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-title{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    font-family: var(--second-font);
    font-size: 72px;
    color: rgb(190,190,190);
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-generes{
    margin: 10px 0;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-generes span{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: .1px solid rgba(255, 255, 255, 0.233);
    padding: 4px 11px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-info span{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-right: 25px;
    margin-bottom: 20px;
    margin: 15px 25px 15px 0;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-info .slide-movie-info-rate i{
    color: #FFDA3B;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-info .slide-movie-info-likes i{
    color: #3289B4;
}
.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-info .slide-movie-info-comments i{
    color: #129866;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-description{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-right: 35px;
    text-transform: capitalize;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-btns .btn{
    border-radius: 100px;
    margin-right: 15px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: rgb(190, 190, 190);
    background-color: var(--second-color);
    cursor: pointer;
}

.homepage-area .homepage-content-swiper-container .swiper-slide  .slide-movie .slide-movie-btns .btn.invert{
    background-color: transparent;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
}

.homepage-area .homepage-content-swiper-container .swiper-button-next,
.homepage-area .homepage-content-swiper-container .swiper-button-prev{
    content: "";
    top: 90%;
    left: 85%;
    width: 50px;
    height: 50px;
    background-color: var(--main-text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.homepage-area .homepage-content-swiper-container .swiper-button-next i,
.homepage-area .homepage-content-swiper-container .swiper-button-prev i{
    color: var(--second-color);
    font-size: 24px;
}

.homepage-area .homepage-content-swiper-container .swiper-button-prev{
    left: 8.5% !important;
    /* left: 50% !important; */
    /* top: 80% !important; */
}

.homepage-area .homepage-content-swiper-container .swiper-button-next:after,
.homepage-area .homepage-content-swiper-container .swiper-button-prev::after{
    box-shadow:  1px 1px 10px #000;
    position: absolute;
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: var(--main-text-color);
    left: 100%;
}

.homepage-area .homepage-content-swiper-container .swiper-button-next:after{
    left: -300%;
}

.homepage-area .homepage-content-swiper-container .swiper-button-next:before,
.homepage-area .homepage-content-swiper-container .swiper-button-prev::before{
    color: var(--main-text-color);
    font-size: 18px;
    position: absolute;
    font-weight: 600;
    font-family: var(--second-font);
    content: "Prev";
    width: 120px;
    left: 240%;
    top: -10px;
}

.homepage-area .homepage-content-swiper-container .swiper-button-next::before{
    content: "Next";
    width: 120px;
    right: 100%;
    top: -10px;
    left: -379%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 50%;
    left: -50px;
    width: auto;
    transform: rotate(90deg);
}

.swiper-pagination-bullet{
    border-radius: 0;
    background-color: var(--main-text-color);
    width: 50px;
    height: 2px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.homepage-area .homepage-pickedmovies-container{
    /* background-color: tomato; */
    /* background: linear-gradient(to left, var(--back-color) 0%, var(--back-color) 58.8%, var(--second-color) 58.8%, var(--second-color) 100%), url(../../../src/images/background/back.jpg) center no-repeat; */
    background: linear-gradient(to bottom, var(--back-color) 0%, var(--back-color-transparent) 100%), url(../../../src/images/background/back.jpg) center no-repeat;
    background-size: cover;
    padding: 30px;
    position: relative;
}

.homepage-area .homepage-pickedmovies-container .homepage-random-content-heading{
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.homepage-area .homepage-pickedmovies-container .homepage-random-content-heading i{
    color: var(--second-text-color);
    font-weight: 300;
    font-size: 40px;
    margin-right: 10px;
}


.homepage-random-slider-container{
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.swiper-slide.random-movie{
    /* min-height: 300px; */
    font-size: 18px;
    /* background: rgb(80, 11, 11); */
    position: relative;
}

.swiper-slide.random-movie .ribbon{
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 12;
    overflow: hidden;
    width: 75px;
    height: 75px;
}

.swiper-slide.random-movie .ribbon span{
    background-color: var(--second-color);
    color: #FFF;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 100px;
    display: block;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    left: -21px;
    line-height: 20px;
    text-transform: uppercase;
}

.swiper-slide.random-movie .ribbon span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--second-color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--second-color);
}

.swiper-slide.random-movie .ribbon span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-right: 3px solid var(--second-color);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--second-color);
}

.swiper-slide.random-movie .random-movie-img{
    display: block;
    min-height: 223px;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.swiper-slide.random-movie .random-movie-img img{
    width: 100%;
    object-fit: cover;
    transition: ease-in-out 1.5s;
}

.swiper-slide.random-movie .random-movie-img img:hover{
    transform: scale(1.05);
    object-fit: cover;
}

.swiper-slide.random-movie .random-movie-info{
    font-weight: 400;
    font-family: var(--third-font);
    text-transform: capitalize;
    color: var(--second-text-color);
    margin-top: 20px;

}

.swiper-slide.random-movie .random-movie-info h2{
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
    font-weight: 500;
    letter-spacing: -1px;
}

.swiper-slide.random-movie .random-movie-info span{
    font-size: 12px;
    color: var(--main-text-color);
    font-weight: 500;
}

.homepage-pickedmovies-swiper-button-prev,
.homepage-pickedmovies-swiper-button-next{
    color: var(--second-color);
    outline: none !important;
}

.homepage-pickedmovies-swiper-button-prev:focus,
.homepage-pickedmovies-swiper-button-next:focus{
    outline: none !important;
}

.homepage-pickedmovies-swiper-button-prev{
    left: 0;
}

.homepage-pickedmovies-swiper-button-next{
    right: 0;
}

.swiper-slide.random-movie .random-movie-rate{
    background-color: var(--main-color);
    color: var(--second-text-color);
    text-align: center;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    bottom: 3px;
    right: 3px;
    text-transform: uppercase;
    z-index: 20;
    line-height: 40px;
    font-size: 12px;
    font-family: var(--third-font);
    font-weight: 600;
}


.circular-chart {
    position: absolute;
    right: 0;
    bottom: 0px;
    display: block;
    max-width: 90%;
    margin: 3px;
  }
  
  .circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }